* {
  background-color: rgba(217, 25, 31, 255);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Adicionei a familia de fonte*/
body {
  font-family: "Mukta", sans-serif;
  padding: 60px;
}

div {
  font-size: 17px;
  line-height: 1.1;
  margin-top: auto;
}

/*Titulo principal*/
.title {
  color: white;
  font-size: clamp(25px, 7vw, 85px);
  font-weight: 700;
  text-align: center;
  grid-column: span 4;
}

/*solução do chatgpt para adicionar um grid*/
.container {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr;
  /*gap: linha coluna*/
  gap: 15px 9px;
  max-width: 974px;
  margin: 0 auto;
}

.container div {
  /*border: 2px solid rgb(255, 217, 0);*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  font-size: 45px;
  font-weight: 600;
}

/*só Deus sabe como eu fiz isso*/
.black-line {
  height: 2px;
  background-color: black;
  grid-column: 1 / -1;
  margin: 1px 0;
}

.author {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 14px;
  margin-top: 40px;
  font-style: italic;
}

.author a {
  color: black;
}