* {
  background-color: red;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Adicionei a familia de fonte*/
body {
  font-family: "Mukta", sans-serif;
  padding: 20px;
}

div {
  font-size: 15px;
}
.date {
  font-size: 30px;
  font-weight: 600;
  grid-column: span 2;
}

/*Titulo principal*/
.title {
  color: white;
  font-size: 70px;
  font-weight: 700;
  grid-column: span 4;
}

/*solução do chatgpt para adicionar um grid*/
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.container div {
  border: 2px solid rgb(255, 217, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  font-size: 30px;
  font-weight: 600;
}
