* {
  background-color: red;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Adicionei a familia de fonte*/
body {
  font-family: "Mukta", sans-serif;
  padding: 20px;
}

div {
  font-size: 17px;
  line-height: 1.1 ;
  margin-top: auto;
  margin-right: auto;
}
.date {
  font-size: 45px;
  font-weight: 600;
}

/*Titulo principal*/
.title {
  color: white;
  font-size: 80px;
  font-weight: 700;
  text-align: center;
  grid-column: span 4;
}

/*solução do chatgpt para adicionar um grid*/
.container {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.container div {
  border: 2px solid rgb(255, 217, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  font-size: 45px;
  font-weight: 600;
}