* {
  background-color: red;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Adicionei a familia de fonte*/
body {
  font-family: "mukta",sans-serif;
  padding: 20px;
}

.date {
  grid-column: span 4;
}

/*Titulo principal*/
.title {
  border: 1px black;
  color: white;
  font-size: 100px;
  font-weight: 700;
  font-style: normal;
  grid-column: span 4;
}

/*solução do chatgpt para adicionar um grid*/
.container {
display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;

}

.container div {
  border: 2px solid rgb(255, 217, 0);
  display: flex;
}